@import url("https://fonts.googleapis.com/css2?family=Inter:wght@250;400&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  background-color: black;
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.timer-content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.timer-content h1 {
  font-size: 10vh;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 250;
}

.timer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: solid 2px rgb(92, 89, 89); */
  border: solid 2px rgb(60, 57, 57);
  border-radius: 4px;
  background-color: rgb(41, 38, 38);
  height: 15vh;
}

/* .timer-box::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: solid 2px rgb(136, 131, 131);
} */

/* space between button & numbers above */
.timer-extras {
  margin-top: 2vh;
  flex-direction: column;
}

.timer-extras button {
  margin-top: 30vh;
  flex-direction: column;
  margin: 2vh;
}

/* if timer -> off: */
/* TODO: Figure out what's going on with its effect, it doesnt match the effect at: https://getcssscan.com/css-buttons-examples (button 88) */
.btn-start {
  align-items: center;
  width: 160px;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: rgb(255, 255, 255);
  background: #ad5389;
  background: linear-gradient(0deg, rgb(20, 167, 61) 0%, rgb(19, 158, 31) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-start:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.btn-start:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

/* if timer -> on: */
/* Could this btn just inherit all traits from above?? 🤔*/
.btn-counting {
  align-items: center;
  width: 160px;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: rgb(255, 255, 255);
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgb(167, 111, 20) 0%,
    rgb(158, 107, 19) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #a7801498;
  letter-spacing: 0.05em;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-counting:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.btn-counting:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

/* left hand of start */
.btn-cancel {
  align-items: center;
  width: 160px;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: rgb(255, 255, 255);
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgb(174, 174, 174) 0%,
    rgba(186, 176, 176, 0.708) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #ffffff98;
  letter-spacing: 0.05em;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-cancel:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #ffffff98;
}

.btn-cancel:active {
  box-shadow: 0 0.3em 1em -0.5em #ffffff98;
}
/* endif */

.btn-cancel-off {
  align-items: center;
  width: 160px;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: rgba(255, 255, 255, 0.137);
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(174, 174, 174, 0.473) 0%,
    rgba(186, 176, 176, 0.473) 100%
  );
  border: none;
  /* box-shadow: 0 0.7em 1.5em -0.5em #ffffff98; */
  letter-spacing: 0.05em;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* .btn-cancel-off:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #ffffff98;
}

.btn-cancel-off:active {
  box-shadow: 0 0.3em 1em -0.5em #ffffff98;
} */
